:root {
  --blue: #3b8be4;
  --indigo: #6610f2;
  --purple: #703c87;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-light: #dcdcdc;
  --gray-dark: #343a40;
  --primary: var(--purple);
  --secondary: #6c757d;
  --success: var(--green);
  --info: var(--blue);
  --warning: var(--orange);
  --danger: var(--red);
  --text-color: var(--gray-dark);
  --text-muted: var(--gray-light);
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

body {
  font-family: 'Commissioner';
  margin: 0;
}

p, a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Commissioner';
}


.app {
  height: 100vh;
  width: 100%;
}

.node-list {
  background-color: #CCC;
  border-radius: 3px;
  margin: 3px;
  padding: 4px 10px;
}

.node {
  display: flex;
  align-items: center;
}

.node img {
  margin-right: 20px;
}

.display-arrow {
  float: right;
  margin-right: 40px;
}

.display-none {
  display: none;
}

.show:hover {
  cursor: pointer;
}

.node-children {
  margin-left: 2rem;
  margin-top: 10px;
}
